# 1.3.6 Challenge:Data cleaning & validation

In [46]:
import pandas as pd
import numpy as np

In [47]:
df_data =pd.read_csv('C:/Personal/09142640/Downloads/WELLCOME_APCspend2013_forThinkful.csv',encoding = "ISO-8859-1")
df_data.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [48]:
df_data.columns = ['id', 'publisher', 'journal', 'article','cost']
df_data['cost']=df_data['cost'].str.replace('£','')
df_data['cost']=df_data['cost'].str.replace('$','')

df_data.head()

,id,publisher,journal,article,cost
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,685.88

# Counts without data cleaning

In [50]:

df_common=df_data['journal'].value_counts().head()
a=df_common.reset_index()
a.columns=['journal','counts']
a

                                           journal  counts
0                                         PLoS One      92
1                                         PLoS ONE      62
2                  Journal of Biological Chemistry      48
3                           Nucleic Acids Research      21
4  Proceedings of the National Academy of Sciences      19

# Counts after data cleaning

In [51]:
df_data['journal']=df_data['journal'].str.upper()
df_data['journal'] = df_data['journal'].replace(['PLOSONE', 'PLOS ONE', 'PLOS 1', 'PLOS'], 'PLOS ONE') 
df_data['journal'] = df_data['journal'].replace(['ACTA D', 'ACTA CRYSTALLOGRAPHICA SECTION D', 'ACTA CRYSTALLOGRAPHY D', 'ACTA CRYSTALLOGRAPHICA, SECTION D', 'ACTA CRYSTALLOGRAPHICA SECTION D, BIOLOGICAL CRYSTALLOGRAPHY'], 'ACTA CRYSTALLOGRAPHICA SECTION D: BIOLOGICAL CRYSTALLOGRAPHY') 
df_data['journal'] = df_data['journal'].replace(['AMERICAN JNL EPIDEMIOLOGY'], 'AMERICAN JOURNAL OF EPIDEMIOLOGY') 
df_data['journal'] = df_data['journal'].replace(['AMERICAN JOURNAL OF MEDICAL GENETICS PART A'],'AMERICAN JOURNAL OF MEDICAL GENETICS') 
df_data['journal'] = df_data['journal'].replace(['ANTIMICROBIAL AGENTS AND CHEMOTHERAPY', 'ANTIMICROBIAL AGFENTS AND CHEMOTHERAPY'], 'ANTIMICROBIAL AGENTS & CHEMOTHERAPY') 
df_data['journal'] = df_data['journal'].replace(['ANGEWANDE CHEMIE','ANGEWANDTE CHEMIE INTERNATIONAL EDITION','ANGEW CHEMS INT ED' ], 'ANGEWANDTE CHEMIE') 
df_data['journal'] = df_data['journal'].replace(['BEHAVIOUR RESEARCH AND THERAPY'], 'BEHAVIOR RESEARCH & THERAPY')
df_data['journal'] = df_data['journal'].replace(['Arthritis Research and Therapy'], 'Arthritis Research & Therapy')
df_data['journal'] = df_data['journal'].replace(['BMC Genomics.'], 'BMC Genomics')
df_data['journal'] = df_data['journal'].replace(['BMJ OPEN'], 'BMJ Open')
df_data['journal'] = df_data['journal'].replace(['CHEMBIOCHEM'], 'ChemBioChem')
df_data['journal'] = df_data['journal'].replace(['ChemMedChem'], 'Chemmedchem')
#df_data['journal'] = df_data['journal'].replace(['CHILD: Care, Heath & Development'], 'Child: Care, Health Development')
df_data['journal'] = df_data['journal'].replace(['Consciousness & Cognition'], 'Consciousness and Cognition')
df_data['journal'] = df_data['journal'].replace(['CURRENT BIOLOGY'], 'Current Biology')
df_data['journal'] = df_data['journal'].replace(['FEBS J.'], 'FEBS Journal')
df_data['journal'] = df_data['journal'].replace(['GENE'], 'Gene')
df_data['journal'] = df_data['journal'].replace(['PLOS NTD'], 'PLoS Neglected Tropical Diseases')
df_data.head()

,id,publisher,journal,article,cost
0,NaN,CUP,PSYCHOLOGICAL MEDICINE,Reduced parahippocampal cortical thickness in ...,0.00
1,PMC3679557,ACS,BIOMACROMOLECULES,Structural characterization of a Model Gram-ne...,2381.04
2,23043264 PMC3506128,ACS,J MED CHEM,"Fumaroylamino-4,5-epoxymorphinans and related ...",642.56
3,23438330 PMC3646402,ACS,J MED CHEM,Orvinols with mixed kappa/mu opioid receptor a...,669.64
4,23438216 PMC3601604,ACS,J ORG CHEM,Regioselective opening of myo-inositol orthoes...,685.88

In [53]:
df_common1=df_data['journal'].value_counts().head()
df_cleaning=df_common1.reset_index()
df_cleaning.columns=['journal','counts']
df_cleaning

                           journal  counts
0                         PLOS ONE     210
1  JOURNAL OF BIOLOGICAL CHEMISTRY      53
2                       NEUROIMAGE      29
3                    PLOS GENETICS      24
4                   PLOS PATHOGENS      24

# Ranking top 5 journals

In [54]:
df_top5=df_data['journal'].value_counts().head(5)
df_cleaneddata=df_top5.reset_index()
df_cleaneddata.columns=['journal','counts']
#df_cleaneddata['rank']=df_cleaneddata.groupby['counts'].rank(ascending=False)
rank_1=df_cleaneddata.reset_index()
rank_1.columns=['rank0','journal','counts']
t1=rank_1[rank_1.rank0==0]
t2=rank_1[rank_1.rank0==1]
t3=rank_1[rank_1.rank0==2]
t4=rank_1[rank_1.rank0==3]
t5=rank_1[rank_1.rank0==4]
#top1=rank.index==1
#top1

In [56]:
df_article_cost=df_data[df_data['journal'].isin(df_cleaneddata['journal'])]
df_data['cost'].median()
df_data.cost = df_data.cost.astype(float)
df_data['cost']=df_data['cost'].replace(999999.00,1884.01)

# calculate the mean, median, and standard deviation of the open-access cost per article for each journal

Top 1

In [57]:
df_article_cost_t1=df_data[df_data['journal'].isin(t1['journal'])]

In [58]:
df_article_cost_t1.cost.describe()

count       210.000000
mean       1886.390667
std       13229.186002
min         122.310000
25%         853.320000
50%         901.810000
75%        1044.737500
max      192645.000000
Name: cost, dtype: float64

Second Highest

In [60]:
df_article_cost_t2=df_data[df_data['journal'].isin(t2['journal'])]
df_article_cost_t2.describe()

              cost
count    53.000000
mean   1432.275660
std     412.846925
min     265.670000
25%    1152.720000
50%    1314.530000
75%    1610.310000
max    2501.070000

Third Highest

In [61]:
df_article_cost_t3=df_data[df_data['journal'].isin(t3['journal'])]
df_article_cost_t3.describe()

              cost
count    29.000000
mean   2215.168276
std     266.653947
min    1747.160000
25%    2100.540000
50%    2326.430000
75%    2396.570000
max    2503.340000

Forth Highest

In [62]:
df_article_cost_t4=df_data[df_data['journal'].isin(t4['journal'])]
df_article_cost_t4.describe()

              cost
count    24.000000
mean   1663.185833
std     161.560559
min    1394.050000
25%    1484.862500
50%    1718.390000
75%    1778.225000
max    1884.010000

Fifth Highest

In [63]:
df_article_cost_t5=df_data[df_data['journal'].isin(t5['journal'])]
df_article_cost_t5.describe()

              cost
count    24.000000
mean   1598.795417
std     177.802936
min    1254.020000
25%    1440.000000
50%    1600.520000
75%    1760.310000
max    1884.010000